@charset "utf-8";
/* CSS Document */

body{background-color:#036 }

div{
color: #FFFFFF;
	
}

#TopMain{color:#0F3}

#imageLogoMain{
align:center;	
	}
	
	#height_text | #weight_text | #bodyfat_text{
width:10em;
		}
		
th{
	font-size:0.75em;
	}

#check_image {
    visibility: hidden;
}
		
.listelement{
background-color:#AA0000;
font-size:1.25em;
}

.tabletitle{
font-size: 1.25em;
color: #000000;

}
/* Slider settings */
#slider{

overflow: hidden;
}

#slider .slides{
display: block;
background-color: #FFFFFF;
margin: 0;
padding: 0;
}

#slider .slide{
float: left;
list-style-type: none;
background-color: #000000;

}